@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
}
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
body{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}
.search-box{
    position: relative;
    background-image: url(../images/pattern-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
}
.input-group{
    width: 50%;
}
.btn-black{
    background-color: black;
    color: white;
    padding: 10px 15px;
    border-radius: 0px 10px 10px 0px;
}
.btn-black:hover{
    background-color: black;
    color: white;
}
#map {
     height: 500px;
     z-index: 1;
     top: -125px;
     margin-bottom: 0;
}
.ip-details{
    position: relative;
    z-index: 2;
    background-color: white;
    border-radius: 20px;
    top: -60px;
}